<div style="margin: auto; width: 75%">
    <div class="card display-flex mt-5 absolue">
        <div class="row">
            <div class="col-sm">
                <img class="m-2" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg">
            </div>
            <div class="col-sm">
                <h2 class="mt-2"><strong>{{authService.getUserConnected().nom}}</strong> {{authService.getUserConnected().prenom}} </h2>
                <h5>Alive - Human</h5>
                <br>
                <h5><strong>Login :</strong></h5>
                <h5>{{authService.getUserConnected().login}}</h5>
                <h5><strong>Mot de passe :</strong></h5>
                <h5>{{authService.hiddenPassword()}}</h5>
                <h5><strong>Première apparition (ville de naissance) :</strong></h5>
                <h5>{{authService.getUserConnected().ville}}</h5>
            </div>
            <div class="col-sm text-center mt-5">
                <button type="button" class="test btn waves-effect" id="modify" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap"> Modifier le profil</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" #myModal>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier le profil</h5>
                </div>
                <div class="modal-body">
                    <form  #registerForm="ngForm" (ngSubmit)="updateUser(registerForm.value)">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form">
                                    <label for="nomform" class="form-label">Nouveau nom :</label>
                                    <input type="text" ngModel="" name="nom" class="form-control" id="nomform">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form">
                                    <label for="prenomform" class="form-label">Nouveau prénom :</label>
                                    <input type="text" ngModel="" name="prenom" class="form-control" id="prenomform">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form">
                                    <label for="loginform" class="form-label">Nouveau login :</label>
                                    <input type="text" ngModel="" name="login" class="form-control" id="loginform">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form">
                                    <label for="mdpform" class="form-label">Nouveau mot de passe :</label>
                                    <input type="password" ngModel="" name="mdp" class="form-control" id="mdpform">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="md-form">
                                    <label for="allergiesform" class="form-label">Ville de naissance :</label>
                                    <input type="text" ngModel="" name="ville" class="form-control"
                                        id="allergiesform">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="center">
                            <button type="button" (click)="reload()" class="btn" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn">Confirmer</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>