h1{
    color: rgb(182, 188, 190);
}

.card{
    background-color: rgb(182, 188, 190);
}
.btn{
    color:  rgb(59, 181, 73) !important;
    border-color: rgb(59, 181, 73) !important;
}

.dropdown-menu{
    background-color: rgb(182, 188, 190);
}