<div style="margin: auto; width: 75%">
    <div class="row">
        <div class="col-sm text-center mt-5">
            <h1>Mes demande d'amis</h1>
        </div>
        <div class="col-sm mt-4">
            <form class="form-inline mt-4">
                <input class="form-control w-50" type="search" #data placeholder="Recherche">
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-5" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
    <div class="card display-flex mt-5 absolue" *ngFor="let a of demandeAtt">
        <div class="row">
            <div class="col-sm">
                <img class="m-2" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg">
            </div>
            <div class="col-sm">
                <h2 class="mt-2"><strong>{{a.receveur.nom}}</strong> {{a.receveur.prenom}} </h2>
                <h5>Alive - Human</h5>
                <br>
                <h5><strong>Login :</strong></h5>
                <h5>{{a.receveur.login}}</h5>
                <h5><strong>Première apparition(ville de naissance) :</strong></h5>
                <h5>{{a.receveur.ville}}</h5>
            </div>
            <div class="col-sm text-center mt-5">
                <button type="button" class="test2 btn waves-effect"> En Attente</button>
            </div>
        </div>
    </div>
    <div class="card display-flex mt-5 absolue" *ngFor="let d of demande">
        <div class="row">
            <div class="col-sm">
                <img class="m-2" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg">
            </div>
            <div class="col-sm">
                <h2 class="mt-2"><strong>{{d.envoyeur.nom}}</strong> {{d.envoyeur.prenom}} </h2>
                <h5>Alive - Human</h5>
                <br>
                <h5><strong>Login :</strong></h5>
                <h5>{{d.envoyeur.login}}</h5>
                <h5><strong>Première apparition(ville de naissance) :</strong></h5>
                <h5>{{d.envoyeur.ville}}</h5>
            </div>
            <div class="col-sm text-center mt-5">
                <button type="button" class="test btn waves-effect"
                    (click)="acceptDemande(authService.getUserConnected().id, d.id)"> Accepter</button>
                <button type="button" class="test btn waves-effect" (click)="refuserDemande(d.id)"> Refuser</button>
            </div>
        </div>
    </div>

</div>