<div style="margin: auto; width: 75%">
<div class="text-center mt-5">
    <h1>Liste des personnages</h1>
</div>
<div class="block" *ngFor="let p of pers?.results">
    <div class="card display-flex mt-5">
        <div class="row">
            <div class="col-sm">
                <img class="m-2" src="{{p?.image}}">
            </div>
            <div class="col-sm">
                <h2 class="mt-2"><strong>{{p?.name}}</strong></h2>
                <h5>{{p?.status}} - {{p?.species}}</h5>
                <br>
                <h5><strong>Dernière position connue :</strong></h5>
                <h5><a routerLink="">{{p?.location.name}}</a></h5>
                <h5><strong>Première apparition :</strong></h5>
                <h5><a routerLink="">{{p?.episode.at(0)}}</a></h5>
                <h5><strong>Origine :</strong></h5>
                <h5><a routerLink="">{{p?.origin.name}}</a></h5>
            </div>
            <div class="col-sm">
                <h2 class="mt-2"><strong>Liste des apparitions :</strong></h2>
                <div *ngFor="let e of p.episode; let i=index">
                    <div *ngIf="i<6">
                        <h5>Test</h5>
                    </div>
                </div>
                <br>
                <div *ngIf="p.episode.length > 6">
                <h6><a>Voir plus d'épisode avec {{p?.name}} <i class="fas fa-arrow-right"></i></a></h6>
                
            </div>
            </div>
        </div>
    </div>
</div>
</div>