<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img class="logo"
          src="https://iunctis.fr/uploads/default/original/3X/3/8/38f8034fa117465a45e877c707a99fb744f255d8.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="personnage">Personnage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="episode">Episode</a>
          </li>
        </ul>

        <form class="form-inline  ml-auto" role="search">
          <div class="md-form">
            <input class="form-control" type="search" id="recherche">
            <label for="recherche">Rechercher</label>
            <button class="btn btn-outline btn-sm" type="submit">Rechercher</button>
          </div>
        </form>

        <div *ngIf="!authService.isConnected()">
          <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit"
            routerLink='login'>Connexion</button>
        </div>

        <div *ngIf="authService.isConnected()">
          <ul class="navbar-nav ">
            <div class="test">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><strong>{{authService.getUserConnected().nom}}</strong> {{authService.getUserConnected().prenom}}
                  <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                  aria-labelledby="navbarDropdownMenuLink-333">
                  <a routerLink='profil' class="dropdown-item">Mon profil</a>
                  <a routerLink='amis' class="dropdown-item">Mes amis</a>
                  <a routerLink='demande' class="dropdown-item">Mes demandes</a>
                  <a routerLink='persoFavoris' class="dropdown-item">Personnage favoris</a>
                  <a routerLink='' class="dropdown-item">Episode favoris</a>
                  <hr class="dropdown-divider">
                  <a (click)="authService.logout()" class="dropdown-item">Se déconnecter</a>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="text-center text-lg-start mt-5">
  <div class="mt-5">
    <br>
    <h5 class="mt-5">Nombre de personnages : {{nbrPers?.info?.count}} - Nombre d'épisodes : {{nbrEp?.info?.count}} -
      Nombre de lieux : {{nbrLieu?.info?.count}}</h5>
  </div>
  <div class="text-center p-3">
    © 2022 Marius Siwertz
  </div>
</footer>