<div style="margin: auto; width: 75%">
    <div class="row mt-5">
        <div class="col text-left mt-2">
            <h1><strong>Trouver des amis</strong></h1>
        </div>
        <div class="col">
            <form class="form-inline mt-2">
                <input class="form-control w-50 ml-1" type="search" #data placeholder="Recherche">
                <button class="btn btn-outline-white my-2 my-sm-0 ml-3" type="submit" (click)="recherchePerso(data.value)">Rechercher</button>
            </form>
        </div>
    </div>

    <div *ngFor="let u of user">
        <div class="card display-flex mt-5 absolue">
            <div class="row">
                <div class="col-sm">
                    <img class="m-2" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg">
                </div>
                <div class="col-sm">
                    <h2 class="mt-2"><strong>{{u.nom}}</strong> {{u.prenom}} </h2>
                    <h5>Alive - Human</h5>
                    <br>
                    <h5><strong>Login :</strong></h5>
                    <h5>{{u.login}}</h5>
                    <h5><strong>Première apparition(ville de naissance) :</strong></h5>
                    <h5>{{u.ville}}</h5>
                </div>
                <div class="col-sm text-center mt-5" *ngIf="u.id != authService.getUserConnected().id">
                    <button type="button" class="test btn waves-effect" (click)="addAmi(u)">Ajouter ami</button>
                </div>
            </div>
        </div>
    </div>