<div style="margin: auto; width: 75%">
    <div class="text-center mt-5">
        <h1>Liste des épisodes</h1>
    </div>
    <div class="block" *ngFor="let e of episodeDetail; let j=index">
        <div *ngIf="j<11">
        <div class="card display-flex mt-5">
            <div class="row">
                <div class="col-sm">
                    <img class="m-2" src="{{img?.at(e?.id - 1).lien}}">
                </div>
                <div class="col-sm">
                    <h2 class="mt-2"><strong>{{e?.name}}</strong></h2>
                    <h5>{{e?.episode}} - {{e?.air_date}}</h5>
                    <br>
                    <h5><strong>Date de création :</strong></h5>
                    <h5>{{e?.created}}</h5>
                </div>
                <div class="col-sm">
                    <h2 class="mt-2"><strong>Liste des apparitions :</strong></h2>

                    <div *ngFor="let e of episode.results?.at(e?.id-1)?.characters; let i=index">
                        <div *ngIf="i<3">
                            <h5>{{e}}</h5>
                        </div>
                    </div>
                    <div *ngIf="episode.results?.at(e?.id)?.characters?.length > 3">
                        <h6><a>Voir plus de personnage de l'episode : {{e?.name}} <i class="fas fa-arrow-right"></i></a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>