<div style="margin: auto; width: 80%">
    <h1 class="text-center mt-5">
        Personnages mis en avant :
    </h1>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="card display-flex">
                <div class="row">
                    <div class="col-sm">
                        <img class="m-2" src="{{pers1?.image}}">
                    </div>
                    <div class="col-sm">
                        <h2 class="mt-2"><strong>{{pers1?.name}}</strong></h2>
                        <h5>{{pers1?.status}} - {{pers1?.species}}</h5>
                        <br>
                        <h5><strong>Dernière position connue :</strong></h5>
                        <h5><a routerLink="">{{pers1?.location.name}}</a></h5>
                        <br>
                        <h5><strong>Première apparition :</strong></h5>
                        <h5><a routerLink="">{{pers1?.location.name}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card display-flex">
                <div class="row">
                    <div class="col-sm">
                        <img class="m-2" src="{{pers2?.image}}">
                    </div>
                    <div class="col-sm">
                        <h2 class="mt-2"><strong>{{pers2?.name}}</strong></h2>
                        <h5>{{pers2?.status}} - {{pers2?.species}}</h5>
                        <br>
                        <h5><strong>Dernière position connue :</strong></h5>
                        <h5><a routerLink="">{{pers2?.location.name}}</a></h5>
                        <br>
                        <h5><strong>Première apparition :</strong></h5>
                        <h5><a routerLink="">{{pers2?.location.name}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="card display-flex">
                <div class="row">
                    <div class="col-sm">
                        <img class="m-2" src="{{pers3?.image}}">
                    </div>
                    <div class="col-sm">
                        <h2 class="mt-2"><strong>{{pers3?.name}}</strong></h2>
                        <h5>{{pers3?.status}} - {{pers3?.species}}</h5>
                        <br>
                        <h5><strong>Dernière position connue :</strong></h5>
                        <h5><a routerLink="">{{pers3?.location.name}}</a></h5>
                        <br>
                        <h5><strong>Première apparition :</strong></h5>
                        <h5><a routerLink="">{{pers3?.location.name}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card display-flex">
                <div class="row">
                    <div class="col-sm">
                        <img class="m-2" src="{{pers4?.image}}">
                    </div>
                    <div class="col-sm">
                        <h2 class="mt-2"><strong>{{pers4?.name}}</strong></h2>
                        <h5>{{pers4?.status}} - {{pers4?.species}}</h5>
                        <br>
                        <h5><strong>Dernière position connue :</strong></h5>
                        <h5><a routerLink="">{{pers4?.location.name}}</a></h5>
                        <br>
                        <h5><strong>Première apparition :</strong></h5>
                        <h5><a routerLink="">{{pers4?.location.name}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>